@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* light green */
  background-color: #ffffff;
}

/* Center .container x and y */
.main-card {
  border-radius: 25px;
  padding: 2em;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: .5s all;
}